## Role Models
Presented by Aldrin G. Hsu, Wesley Brian T. Sy, and Gian Martin C. Carlos

In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [55]:
dfIncome = pd.read_excel("Table 6. 2018, 2021 and 2023p Share to Total Annual Family Income, by Region, Province and HUC.xlsx", engine="openpyxl")
dfExpenditure = pd.read_excel("Table 7. 2018, 2021 and 2023p Share to Total Family Expenditure, by Region, Province and HUC.xlsx", engine="openpyxl")

In [56]:
dfExpenditure.head(10)

,"Table 7. Share to Total Family Expenditure, by Region, Province and HUC: 2018, 2021 and 2023p",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Region/Province/HUC by Expenditure Group*,2018,2021.00,2023p,2021-2018,2023-2021
1,NaN,(In percent),NaN,NaN,Percentage Point Change,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,Philippines,NaN,NaN,NaN,NaN,NaN
4,Share to Family Expenditure,100,100.00,100,NaN,NaN
5,Food and Non-Alcoholic Beverages,42.55,42.62,40.93,0.07,-1.7
6,Food Consumed at Home,33.6,38.53,35.34,4.93,-3.19
7,Food Regularly Consumed Outside the Home,8.95,4.09,5.57,-4.86,1.49
8,Service for Processing Primary Goods for F...,NaN,0.01,0.01,0.01,0
9,Alcoholic Beverages and Tobacco,1.82,1.74,1.42,-0.09,-0.32

In [57]:
#Table 6. 2018, 2021 and 2023p Share to Total Annual Family Income, by Region, Province and HUC
Income18 = pd.read_csv("I18.csv")
Income21 = pd.read_csv("I21.csv")
Income23 = pd.read_csv("I23.csv")

#Table 7. 2018, 2021 and 2023p Share to Total Family Expenditure, by Region, Province and HUC
Expenditure18 = pd.read_csv("E18.csv")
Expenditure21 = pd.read_csv("E21.csv")
Expenditure23 = pd.read_csv("E23.csv")

In [58]:
Income18 = Income18.transpose()
Income21 = Income21.transpose()
Income23 = Income23.transpose()
Expenditure18 = Expenditure18.transpose()
Expenditure21 = Expenditure21.transpose()
Expenditure23 = Expenditure23.transpose()

In [59]:
Income18.drop(labels="Maguindanao del Sur", axis=0, inplace=True)
Income18.drop(labels="Maguindanao del Norte", axis=0, inplace=True)
Income21.drop(labels="Maguindanao del Sur", axis=0, inplace=True)
Income21.drop(labels="Maguindanao del Norte", axis=0, inplace=True)
Income23.drop(labels="Maguindanao del Sur", axis=0, inplace=True)
Income23.drop(labels="Maguindanao del Norte", axis=0, inplace=True)

Expenditure18.drop(labels="Maguindanao del Sur", axis=0, inplace=True)
Expenditure18.drop(labels="Maguindanao del Norte", axis=0, inplace=True)
Expenditure21.drop(labels="Maguindanao del Sur", axis=0, inplace=True)
Expenditure21.drop(labels="Maguindanao del Norte", axis=0, inplace=True)
Expenditure23.drop(labels="Maguindanao del Sur", axis=0, inplace=True)
Expenditure23.drop(labels="Maguindanao del Norte", axis=0, inplace=True)

In [ ]:
Income21.tail(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Surigao Del Norte,100.0,44.4,42.6,1.9,0.0,1.1,1.4,25.5,2.1,3.0,6.0,3.1,0.2,1.0,0.1,2.7,4.3,1.6,2.1,1.5
Surigao Del Sur,100.0,42.9,42.0,1.0,-,1.3,1.7,18.5,2.5,2.0,5.9,2.9,0.3,1.4,0.0,3.4,4.7,5.2,4.3,3.0
Dinagat Islands,100.0,45.3,44.9,0.4,0.0,1.4,2.1,17.3,2.1,5.7,4.6,2.4,0.7,1.6,0.0,3.3,5.1,2.1,4.4,1.8
BARMM - BANGSAMORO AUTONOMOUS REGION IN MUSLIM MINDANAO (includes the 63 barangays from Cotabato for 2023)2/,100.0,58.6,54.6,4.0,0.0,1.7,2.3,14.9,1.2,1.8,5.3,1.9,0.2,0.6,0.0,1.2,5.1,2.2,1.4,1.6
Basilan,100.0,52.2,51.7,0.5,0.0,1.7,3.2,16.7,1.6,2.7,6.0,1.8,0.2,1.0,0.0,0.8,4.9,3.1,1.8,2.4
Lanao Del Sur,100.0,68.7,60.9,7.8,0.0,0.9,1.5,11.6,1.1,1.8,3.9,1.1,0.2,0.5,0.0,1.5,3.7,0.9,0.7,1.9
Maguindanao,100.0,52.0,49.4,2.5,0.0,2.3,2.8,16.9,1.4,1.2,6.4,2.5,0.3,0.7,-,0.7,6.5,3.0,2.0,1.5
Sulu,100.0,59.8,58.3,1.5,-,2.1,2.5,13.6,1.0,2.6,5.5,1.5,0.1,0.3,0.0,0.8,5.6,2.6,1.0,1.0
Tawi-Tawi,100.0,57.8,57.0,0.8,-,3.0,2.6,14.9,1.3,1.4,6.2,2.5,0.1,0.7,-,0.7,5.3,1.2,1.7,0.6
Cotabato City,100.0,45.4,41.7,3.7,0.0,1.0,2.4,21.7,1.5,1.6,6.0,3.3,0.4,1.1,0.2,2.2,5.6,3.6,2.2,1.8